body{
    color: rgb(104, 104, 104);
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:60px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sky-color{color: skyblue;
}
.flexible-container {
    display: flex;
    margin: 120px;
}

.half-width{
    width: 50% ;
    padding-left: 60px;

}
.half-width img {
    width:90% ;
    padding-right: 90px;
    padding-left: 80px;
    
}
.e-img{
   padding-right: 120px;
   padding-top: 320px;
width: 16cm;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(skyblue,deepskyblue);
    color: white;
    background-color: skyblue;
    font-weight: 400;
    font-size: small;
    border-radius: 30px;
   padding: 12px 22px 12px 22px;
}
.sec-banner {
    background-image: url(Frame\ 57.jpg);
    background-repeat: no-repeat;
    }
    .center-mid{
        display: inline-block;
            width: 400px;
         vertical-align: middle;
         text-align: left;
         padding: 400px 0px 400px ;
    }
   .t-align{
   text-align: center;
   width: 800px;
   padding-left: 350px;
}
.item-list{
    padding-left: 160px;
    text-align: center;
   display: flex;
   justify-content: space-between;

   border: white 10px solid;
    border-image-slice: 4;
    border-image-width: 5px;
    }
   
.div-o {
    width: 200px;
  height: 300px;
  padding: 50px;
  box-shadow: 5px 5px 5px 5px rgb(226, 218, 218);
  border-radius: 20px;
  margin-right: 20px;
  
  
}
.div-o img {
    width: 50%;
    border-radius: 10px;
  
 
    
}
.div-t {
    width: 200px;
    height: 300px;
    padding: 50px;
    box-shadow: 5px 5px 5px 5px rgb(207, 201, 201);
    border-radius: 20px;
   
  }
  .div-t img {
      width: 40%;
      border-radius: 10px;
     
  }
  .div-h {
    width: 200px;
    height: 300px;
    padding: 50px;
    box-shadow: 5px 5px 5px 5px rgb(216, 204, 204);
    border-radius: 20px;
    margin-left: 20px;
   }
   .div-h img{
       width: 30%;
       border-radius: 10px;
       
   }
